<body class="goto-here">
	<!-- END nav -->

	<div id="ambiltes"  class="hero-wrap hero-bread" style="background-image: url('assets/images/background_3.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.php?bettaku=home">Home</a></span> <span>DIAGNOSA</span></p>
                    <h1 class="mb-0 bread">DIAGNOSA</h1>
                    <br><br>
                    <a class="btn btn-primary"  role="button" href="index.php?bettaku=diagnosa">Start Diagnosa</a>
                            
				</div>
			</div>
		</div>
    </div>
    
    <br><br>

	<section id="tentang" >
		<div class="container">
			<div class="row">
				
						
                            <div style="align-self: center;" >
                                
                            
                                <section >     
                                   <div class="row " style="margin-right: -20px;">
                                      <div class="col-lg-8 mx-auto" style="margin-right: -20px;">
                                          
                                          <center><strong><h1 class="font-weight-bold">Diagnosa Betta Fish</h1></strong></center><br>
                                <p class="lead">Diagnosa yang dirancang untuk mengetahui penyakit yang dialami ikan cupang kesayangan anda.</p>
                                <p class="lead">
                                Tes ini dapat memberikan hasil atau pertimbangan sesuai apa yang di inputkan pemilik ikan cupang dan sistem pakar itu sendiri.
                                </p>
                                <p class="lead">
                                Dalam Tes  ini, ada 4 macam penyakit yang dialami ikan cupang: 
                                <ol class="lead">
                                    <li>Mata Bengkak (Pop Eye)</li>
                                    <li>Sirip Busuk (Fin Rot)</li>
                                    <li>Bintik Putih (White Spot)</li>
                                    <li>Sisik Nanas (Dropsy)</li>
                                </ol>
                                </p>            
                                      </div>
                                  </div>
                                </section>
						


    </section>
    
    <br><br>

</body>
